{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}" />
  </head>

  <body>
    <div class="quadrado">
      <h2>Login</h2>
      <form>
        <div class="inserir-dado">
          <input type="text" placeholder="Email" />
        </div>
        <div class="inserir-dado">
          <input type="password" placeholder="Senha" />
        </div>
        <div class="botao-direita">
          <button class="btn-login">Entrar</button>
        </div>
      </form>
    </div>
  </body>
</html>
