<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patas Na Rua</title>
</head>
<body>
    <header>
        <div class="logo">
            <div class="logo-content">
                <img src="#" alt="logo">
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#sobre">Sobre</a></li>
                <li><button>Login</button></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="inicio" id="inicio">
            <div class="inicio-text">
                <h1>Olá, seja bem vindo ao <span>Patas na Rua!</span></h1>
            </div>
            <div class="inicio-image">
                <img src="#" alt="cachorro e gato">
            </div>
        </section>
        <section class="valores" id="valores">
            <div class="valores-carroussel">

            </div>
            <div class="valores-description">
                <div class="valores-adocao">
                    <img src="#" alt="adocao">
                    <p><span>Adotar</span> é salvar duas vidas: a do animal que ganha um lar e 
                        a de outro que podemos resgatar no lugar dele. Dê ao seu novo 
                        melhor amigo a chance de ser feliz ao seu lado!</p>
                </div>
                <div class="valores-apadrinhamento">
                    <img src="#" alt="apadrinhamento">
                    <p>Nem todos podem adotar, mas todos podem ajudar!<span> Apadrinhe</span> um cão 
                        ou gato e contribua mensalmente para que ele tenha alimentação, cuidados veterinários e muito carinho.</p>
                </div>
            </div>
        </section>
        <section class="sobre" id="sobre">
            <div class="sobre-content">
                <h2>Quem Somos</h2>
                <p>Somos uma ONG apaixonada por transformar vidas! Resgatamos cães e gatos em situação de abandono, oferecendo amor, cuidados e um
                     lar temporário até encontrarem famílias que os acolham para sempre.</p>
                     <img src="#" alt="ong">
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Patas Na Rua. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>